@import url("../../index.css");

.plan-container {
    margin-bottom: 1em;
}

.plan-container .form-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2em;
    margin-bottom: 2em;
}

.plan-container .form-title {
    color: var(--primary-marine-blue);
    line-height: 1.5;
    font-size: 28px;
}

.plan-container .selection-wrap .selection-col {
    padding: 2em 1em;
    cursor: pointer;
    border: 1px solid var(--neutral-light-gray);
    width: 150px;
    border-radius: 12px;
}

.plan-container .selection-wrap .selection-col:hover {
    border-color: var(--primary-purplish-blue);
}

.plan-container .selection-wrap .selection-col:active {
    background-color: var(--neutral-light-gray);
    transition: all 0.2s ease;
}

.plan-container .selection-wrap .active {
    background-color: var(--neutral-magnolia);
    border-color: var(--primary-purplish-blue);
    transition: all 0.2s ease-out;
}

.plan-container .form-title-sm {
    color: var(--primary-marine-blue);
    line-height: 1.5;
    font-size: var(--body-paragraph);
}

.plan-container .selection-wrap .form-icon {
    margin-bottom: 3em;
}

.plan-container .form-text {
    font-size: 14px;
    color: var(--neutral-cool-gray);
    line-height: 1.9;
    padding-bottom: 2em;
}

.plan-container .plan-range-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
    margin-bottom: 2em;
    background-color: var(--neutral-magnolia);
}

.plan-range-wrap .form-text {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.plan-range-wrap .active {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: var(--primary-marine-blue);
}

.error {
    font-size: 14px;
    color: var(--primary-strawberry-red);
    font-weight: bold;
}

.fade-enter {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.fade-exit-active {
    opacity: 0;
}