@import url("../../index.css");

.finish-container {
  width: 100%;
}

@media (max-width: 770px) {
  .finish-container {
    background: #fff;
    position: absolute;
    right: 5%;
    left: 5%;
    width: 90%;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.2);
  }
}

.finish-container .finishing-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 2em;
  padding: 1em;
  background-color: var(--neutral-magnolia);
  border-radius: 8px;
}

.finish-container .finishing-wrap .finish-col-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.finish-container .finishing-wrap .finish-col {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--neutral-light-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.finish-container .total-wrap {
  padding: 2em 1em 1em 1em;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.finish-container .finish-price-bold {
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-purplish-blue);
}

.finish-container .finishing-wrap .finish-col:last-child {
  border-bottom: none;
}
.finish-container .form-title {
  color: var(--primary-marine-blue);
  line-height: 1.5;
  font-size: 28px;
}

.finish-container .finishing-wrap .finish-title {
  font-weight: bold;
  font-size: 14px;
  color: var(--primary-marine-blue);
}

.finish-container .finishing-wrap .change-btn {
  font-size: 13px;
  line-height: 1.9;
  text-decoration: underline;
  cursor: pointer;
  color: var(--neutral-cool-gray);
}

.finish-container .finishing-wrap .change-btn:hover {
  color: var(--primary-purplish-blue);
}

.finish-text {
  color: var(--primary-marine-blue);
  font-size: 14px;
  font-weight: bold;
}

.finish-container .finish-text-gray {
  color: var(--neutral-cool-gray);
  font-size: 14px;
}

.finish-container .finish-price-thin {
  color: var(--primary-marine-blue);
  font-size: 14px;
}

.finish-container .selection-wrap .selection-col:hover {
  border-color: var(--primary-purplish-blue);
}

.finish-container .form-title-sm {
  color: var(--primary-marine-blue);
  line-height: 1.5;
  font-size: var(--body-paragraph);
}

.finish-container .form-text {
  font-size: 14px;
  color: var(--neutral-cool-gray);
  line-height: 1.9;
  padding-bottom: 2em;
}
