@import url("../../index.css");

.form-section {
  margin-bottom: 1em;
}

.info-container {
  width: fit-content;
}

.info-container .form-title {
  color: var(--primary-marine-blue);
  line-height: 1.5;
  font-size: 28px;
}

@media (max-width: 770px) {
  .info-container {
    width: 90%;
    background: #fff;
    position: absolute;
    right: 5%;
    left: 5%;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.2);
  }
}

.label-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.info-container .form-text {
  font-size: 15px;
  color: var(--neutral-cool-gray);
  line-height: 1.9;
  padding-bottom: 2em;
}

.label-wrap .error {
  font-size: 14px;
  color: var(--primary-strawberry-red);
  font-weight: bold;
}

/* this is the styles for the form transition */
.fade-enter {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit-active {
  opacity: 0;
}
