.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5em;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  padding: 2em 4em;
}

@media (max-width: ) {
  
}


label,
input {
  display: inline-block;
  vertical-align: middle;
  /* optional */
}

label {
  width: 100px;
  font-size: var(--body-paragraph);
  color: var(--primary-marine-blue);
  width: max-content;
}

input {
  width: 100%;
  padding: 1em;
  margin-left: 10px;
  border-radius: 4px;
  margin: .5em 0;
  color: var(--primary-marine-blue);
  border: 1px solid var(--neutral-cool-gray);
  font-weight: bold;
}

input:focus,
input:active {
  border-color: var(--primary-purplish-blue) !important;
  outline: none;
}


/* For Safari and Chrome */
input::-webkit-input-placeholder {
  color: var(--neutral-cool-gray);
  font-weight: bold;
}

/* For Firefox */
input:-moz-placeholder {
  color: var(--neutral-cool-gray);
  font-weight: bold;
}

input::-moz-placeholder {
  color: var(--neutral-cool-gray);
  font-weight: bold;
}


.fade-enter {
  opacity: 0;
  transition: opacity 3500ms ease-in-out;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit-active {
  opacity: 0;
}